{% extends 'base.html' %}
{%block content%}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <input id="kata" class="form-control" style="margin-top: 3rem; margin-left: 2rem; text-align: center;"> -->
  <h3 style="text-align: center;font-family: Averia Libre;margin-top: 3rem;">Cari Buku</h3>
  <br>
<form class="form-inline md-form form-sm active-pink-4 mt-2" style="width: 30%; margin-left: 1rem;">
  <input class="form-control form-control-sm mr-3 w-75" id="kata" type="text" placeholder="Search.."
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form>
  <table class="table table-striped">
  <thead id="atas">
        <tr class="text-center ">
      <th scope="col" style="width: 10%;" >No</th>
      <th scope="col" style="width: 25%;">Title</th>
      <th scope="col" style="width: 50%;">Description</th>
      <th scope="col" style="width: 15%; margin-left: 5rem;">Photo</th>
    </tr>
  </thead>
  <tbody id="tampil">
  </tbody>
</table>
  </body>
    <script type="text/javascript">
      $("#kata").keyup(function(){
        var keyword = $("#kata").val();
        console.log(keyword);
        var url_tujuan = '/namabuku?q=' + keyword;
        $.ajax({
          url: url_tujuan,
          success: function(hasil) {
            var ditampilin = $("#tampil");
            ditampilin.empty();
            console.log(hasil)
            // $("#atas").empty();
            // $("#atas").append("<tr> <th> No </th> <th> Title </th> <th>Photo</th></tr>");
            for(i=0;i<hasil.items.length;i++) {
              var judul = hasil.items[i].volumeInfo.title; 
              var deskripsi = hasil.items[i].volumeInfo.description;
              if(hasil.items[i].volumeInfo.imageLinks != undefined) {
                var gambar = hasil.items[i].volumeInfo.imageLinks.thumbnail;
                ditampilin.append("<tr> <td>" + (i+1) + "</td> <td>" + judul + "</td><td>" + deskripsi + "</td><td> <img src =" + gambar +"></td><tr>");
              }
              else {
                ditampilin.append("<tr> <td>" + (i+1) + "</td> <td>" + judul + "</td><td>" + deskripsi + "</td><td></td><tr>");
            }
          }
        }
        });
      });
    </script>
    {% endblock %}