.judul {
    text-align: center;
}
#foto {
    width: 250px;
    margin-bottom: 1rem;
}
.biodata {
    font-size: larger;
    border-spacing: 15px;
    border: black;
    font-family: 'Verdana';
}
.biofot {
    display: flex;
    justify-content: center;
    padding-top: 1cm;
    align-content: center;
    width: 100%;
    background-color: bisque;
  
}
.deskripsi {
    padding-left: 1cm;
    padding-right: 1cm;
    text-align: justify;
    font-size: large;
    font-family: 'Lucida Sans';

}
footer {
    background-color: black;
    height: 1.5cm;
    left: 0;
    bottom: 0;
    width: 100%;
}
.container {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.4cm;

}
#ig {
    width: 25px;
    height: auto;
    padding-top: 0.05cm;
    

}
#linkedin {
    padding-left: 0.25cm;
    width: 38px;
    height: auto;
}
