{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'home/boostrap.css' %}">
    <div class="text-center galeri"><h3>My Gallery</h3></div>
    <div>
    <div id="carouselExampleIndicators" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner row poto" role="listbox" >
            <div class="carousel-item active">
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'fuyung.jpg'%}" alt="First slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'gedbar.jpg'%}" alt="Second slide">
                </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="img-fluid" src="{% static 'putsalmaung.jpg'%}" alt="Third slide" >
                    </div>
                    </div>         
            </div>
            <div class="carousel-item">

                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'sentul.jpg'%}" alt="First slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'pgawal.jpg'%}" alt="Second slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'wisuda.jpg'%}" alt="Third slide" >
                    </div>
                </div>
                </div>   
                <div class="carousel-item">

                    <div class="col">
                        <div class="card">
                            <img class="img-fluid" src="{% static 'runtime.jpg'%}" alt="First slide">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="img-fluid" src="{% static 'mblok.jpg'%}" alt="Second slide">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="img-fluid" src="{% static 'belalai.jpg'%}" alt="Third slide" >
                        </div>
                    </div>
                    </div>           
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div>
      </div>

          <div id="carouselExampleIndicators2" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner row poto2" role="listbox">
                    <div class="carousel-item active">
                        <div class="col">
                            <div class="card">
                                <img class="img-fluid" src="{% static 'demo.jpg'%}" alt="First slide">
                            </div>
                        </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'pgpacil.jpg'%}" alt="Second slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'demorame.jpg'%}" alt="Third slide" >
                    </div>
                </div>         
            </div>
            <div class="carousel-item">
                
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'maba.jpg'%}" alt="First slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'perpusat.jpg'%}" alt="Second slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'obm.jpg'%}" alt="Third slide" >
                    </div>
                </div>
            </div>   
            <div class="carousel-item">
                
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'olim1.jpg'%}" alt="First slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'olimfullteam.jpg'%}" alt="Second slide">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'toilet.jpg'%}" alt="Third slide" >
                    </div>
                </div>
            </div>           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}