 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 <link rel="stylesheet" href="{% static 'home/boostrap.css' %}">
      <div class="container judul">
        <p class="text-center" style="color:#FF7E7E;">Hola!</p>
        <p class="text-center" style="color:#EEBD5D;">Welcome to My Website</p>
      </div>
      <div class="container gambar">
        <img src="{% static 'IMG-7290 - Copy.JPG' %}" id="foto" >
        <a href="#about"><img src="{% static 'panah.jpg' %}" id = "panah"></a>
      </div>
      <div id="about">
        <div class="container mybiodata" >
          <div class="row">
            <div class="col-lg-6">
              <h3 class="text-center my">My Biodata</h3>
              <div class="container">
                <div class="card bg-light" >
                  <div class="card-body" style="background: #FFFCFC;
                  border: 1px solid #EBE4E4">
              <table class="card-text biodata" style="margin-top: 1rem;">
                <tr> 
                    <td>Nama</td><td>:</td><td>Iqfal Fazrial Pramudya</td>
                </tr>
                <tr>
                    <td>NPM</td><td>:</td><td>1906353920</td>
                </tr>
                <tr>
                    <td>Angkatan</td><td>:</td><td>2019</td>
                </tr>
                <tr>
                    <td>Fakultas</td><td>:</td><td>Ilmu Komputer</td>
                </tr>
                <tr>
                    <td>Hobi</td><td>:</td><td>Olahraga</td>
                </tr>
              </table>  
              </div> 
            </div>
          </div> 
            </div>
            <div class="col-lg-6">
              <div class="container"> 
                <img src="{% static 'balgebun.png' %}" alt="#" class="img-fluid" style="width: 100%; margin-top: 2.75rem;">
              </div>
            </div>
          </div>
      </div>
      <div class="container" style="font-family: Averia Libre; margin-top: 2rem;">
        <div class="card bg-light" >
          <div class="card-body" style="background: #FFFCFC;
          border: 1px solid #EBE4E4">
          <div class="card-text">
            
            <h3 class="hello" style="font-size: 2rem;">Hello,</h3>
              <p class="desc">Nama gua Iqfal, gua mahasiswa jurusan Sistem Informasi di Universitas Indonesia. Gua tinggal di Bogor dan kuliah
                pulang pergi menggunakan commuter line. Kegiatan gua saat ini adalah kuliah dan berorganisasi. Saat ini gua tertarik pada bidang Data Science dan
                System Analyst.
              </p>
          </div>
      </div>
        </div>
      </div>
      </div>
      <div id="experience">
        <div class="experience text-center" style="margin-top: 5rem;">
          <h3 class="personal"><span style="color: #FFAD4D;">Personal</span><span style="color: #FF7E7E;"> Experience</span>        
          </h3>
      </div>
      <div class="kotak">
      <div class="container" style="margin-top: 2rem;">
        <div class="row" style="justify-content: center;">
          <div class="card bem" style="border-radius: 10px">
            <img class="card-img-top mx-auto bemimg" src="{% static 'bem.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center bemtxt">Staff of Sport Departement</p>
            </div>
          </div>
          <div class="card compfest" style="border-radius: 10px">
            <img class="card-img-top mx-auto" id="compfestimg" src="{% static 'compfest.png'%}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center" id="compfesttxt">Staff of Playground</p>
            </div>
          </div>
        </div>
      </div>
        <div class="container" style="margin-top: 2rem;margin-bottom: 1rem;">
          
          <div class="row" style="justify-content: center;">
            <div class="card vision" style="border-radius: 10px">
              <img class="card-img-top mx-auto" id="visionimg" src="{% static 'vision.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text text-center" id="visiontxt">Asisten Senior Trainer</p>
              </div>
            </div>
            <div class="card perak" style="border-radius: 10px">
              <img class="card-img-top mx-auto" id="perakimg" src="{% static 'perak.png' %}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text text-center" id="peraktxt">Staff of Futsal Runner</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="education">
      <div class="experience text-center" style="margin-top: 5rem;">
        <h3 class="personal"><span style="color: #FFAD4D;">Personal</span><span style="color: #FF7E7E;"> Education</span>        
        </h3>
      </div>
      <div class="container persegi">
        <div class="row justify-content-center pendidikan">
          <div class="card sd" style="border-radius: 10px">
            <img class="card-img-top mx-auto"  id="sdimg" src="{% static 'sd.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">SDN Karadenan</p>
            </div>
          </div>
          <div class="card smp" style="border-radius: 10px">
            <img class="card-img-top mx-auto" id="smpimg" src="{% static 'smp.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">SMPN 19 Bogor</p>
            </div>
          </div>
          <div class="card sma" style="border-radius: 10px">
            <img class="card-img-top mx-auto" id="smaimg" src="{% static 'sma.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">SMAN 2 Bogor</p>
            </div>
          </div>
          <div class="card kuliah" style="border-radius: 10px">
            <img class="card-img-top mx-auto" id="kuliahimg" src="{% static 'kuliah.png' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">Universitas Indonesia</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div id="contact">
      <div class="container" style="margin-top: 5rem;">
        <div class="text-center" style="font-family: Averia Libre;">
          <h3 class="kontak">Contact Me</h3>
          <div class="sosmed">
            <p>iqfalfp@gmail.com</p>
            <p>Line : iqfalfazrial</p>
            <p>IG : iqfalfazrial</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="logo">
            <a href="https://www.instagram.com/iqfalfazrial/"><img src="{% static 'logoig.png' %}" alt="instagram" id="ig"></a></img></a>
            <a href="https://www.linkedin.com/in/iqfal-fazrial-pramudya-b53696196/"><img src="{% static 'logolinkedin.png' %}" alt="linkedin" id="linkedin"></a></img></a>
            <a href="mailto:iqfalfp@gmail.com"><img src="{% static 'email.png' %}" alt="email"  id="email"></a></img></a>
            <a href="http://line.me/ti/p/~iqfalfazrial"><img src="{% static 'line-logo.png' %}" alt="line" id="line"></a></img></a>
          </div>
        </div>
    </div>
    <div class="container tombol">
      <div class="col-md-12 text-center">
      <a class="btn btn-primary" href="#" role="button">back to top</a>
      </div>
    </div>
    </div>
{% endblock %}