{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'home/boostrap.css' %}">
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ isiform1.as_p }}
    <button class="btn btn-primary" role="button" type="submit">Save</button>
</form>

<form method="POST" class="post-form">
    {% csrf_token %}
    {{ isiform2.as_p }}
    <button class="btn btn-primary" role="button" type="submit">Save</button>
</form>

<form method="POST" class="post-form">
    {% csrf_token %}
    {{ isiform3.as_p }}
    <button class="btn btn-primary" role="button" type="submit">Save</button>
</form>

{% endblock %}