{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'home/boostrap.css' %}">
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" role="button" type="submit">Save</button>
</form>
{% endblock %}