{% extends "base.html" %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mata Kuliah</th>
        <th scope="col">Nama Dosen</th>
        <th scope="col">Jumlah SKS</th>
        <th scope="col">Deskripsi</th>
        <th scope="col">Tahun Ajaran</th>
        <th scope="col">Ruang Kelas</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for forms in value%}
    <tbody>
      <tr>
        <td>{{forms.nama_matkul}}</td>
        <td>{{forms.dosen}}</td>
        <td>{{forms.sks}}</td>
        <td>{{forms.deskripsi}}</td>
        <td>{{forms.tahun}}</td>
        <td>{{forms.ruang}}</td>
        <td><form method="POST" class="post-form" action="{% url 'story5:hapus' %}">
          {% csrf_token %}
          <input type="hidden" name="input" value="{{forms.nama_matkul}}"></input>
          <button class="btn btn-primary">Delete</button>
      </form>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}