{% extends 'base.html' %}
{% load static %}
    {%block content%}
        <style type="text/css">
      li {
        font-weight: bold;
      }
      .judul {
        font-family: Averia Libre;
        font-size: 20px;
        margin-top: 0.3rem;
        margin-left: 0.5rem;
      }
    </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
   function swapDown(event, elem) {
      var parent = elem.parentNode.parentNode;
      var index = Array.prototype.indexOf.call(parent.children, elem.parentNode);
      var c = document.getElementById("accordion").children;
      if(index == parent.children.length-2){
        elem.parentNode.parentNode.insertBefore(parent.children[index], c[0]);
       elem.parentNode.parentNode.insertBefore(parent.children[index+1], c[1]);
     }
      else {
        elem.parentNode.parentNode.insertBefore(parent.children[index+2], c[index]);
        elem.parentNode.parentNode.insertBefore(parent.children[index+3], c[index+1]);
}
 }

   $( function() {
    $( "#accordion" ).accordion();
  } );
  function swapDiv(event, elem) {
    var parent = elem.parentNode.parentNode;
    var index = Array.prototype.indexOf.call(parent.children, elem.parentNode);
    var c = document.getElementById("accordion").children;
    if(index == 0) {
    elem.parentNode.parentNode.insertBefore(parent.children[index+1], c[index-2]);
    elem.parentNode.parentNode.insertBefore(elem.parentNode, c[c.length-1]);
    }
    else {
    elem.parentNode.parentNode.insertBefore(parent.children[index+1], c[index-2]);
    elem.parentNode.parentNode.insertBefore(elem.parentNode, c[index-2]);
  }
    }
</script>
<div class="container" style="margin-top: 4rem;background-color: white;width: 50%;border: 1px solid #DBDBDB;">
<div id="accordion">
  <div class="row" style="border: 0.1px solid white;background-color: #FFF4D7">
    <h3 class="judul" >My Activity</h3> 
    <a href ="" class="ml-auto" onclick="swapDiv(event,this);" style="margin-top: 0.3rem"><img src="{% static 'panahatas.png' %}"></a>
    <a href ="" onclick="swapDown(event,this);" style="margin-top: 0.3rem;margin-right:0.5rem"><img src="{% static 'panabawah2.png' %}"></a>
  </div>
  <div >
    <p>
    Saat ini kesibukan saya adalah berkuliah, mengerjakan tugas-tugas kuliah, dan berorganisasi di BEM Fasilkom UI
    </p>
  </div>
  <div class="row" style="border: 0.1px solid white;background-color: #FFF4D7">
    <h3 class="judul" >Personal Experience</h3> 
    <a href ="" class="ml-auto" onclick="swapDiv(event,this);" style="margin-top: 0.3rem"><img src="{% static 'panahatas.png' %}"></a>
    <a href ="" onclick="swapDown(event,this);" style="margin-top: 0.3rem;margin-right:0.5rem;"><img src="{% static 'panabawah2.png' %}"></a>
  </div>
  <div>
    <li>Vision SuperCamp</li>
    <p>Asisten Senior Trainer</p>
    <li>COMPFEST</li>
    <p>Staff of Playground</p>
    <li>Pesta Rakyat Komputer</li>
    <p>Staff of Futsal Runner</p>
    <li>BEM Fasilkom UI</li>
    <p> Staff of Sport Departement</p>
  </div>
  <div class="row" style="border: 0.1px solid  white;background-color: #FFF4D7">
    <h3 class="judul">Achievment</h3> 
    <a href ="" class="ml-auto" onclick="swapDiv(event,this);" style="margin-top: 0.3rem"><img src="{% static 'panahatas.png' %}"></a>
    <a href ="" onclick="swapDown(event,this);" style="margin-top: 0.3rem;margin-right:0.5rem"><img src="{% static 'panabawah2.png' %}"></a>
  </div>
  <div>
    <p>
      -
    </p>
  </div>
  <div class="row" style="border: 0.1px solid  white;background-color: #FFF4D7">
    <h3 class="judul">Interest</h3> 
    <a href ="" class="ml-auto" onclick="swapDiv(event,this);" style="margin-top: 0.3rem"><img src="{% static 'panahatas.png' %}"></a>
    <a href ="" onclick="swapDown(event,this);" style="margin-top: 0.3rem;margin-right:0.5rem"><img src="{% static 'panabawah2.png' %}"></a>
  </div>
  <div>
    <li>Olahraga</li>
    <li>Programming</li>
  </div>
</div>
</div>
{%endblock%}
