{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
<div class="judul">
    <h1>Hello, a bit about me</h1>
</div>
    <div class="biofot">
        <img src="{% static 'IMG-7290 - Copy.JPG' %}"  id="foto" >
        <div>
            <table class="biodata" style="margin-left: 2rem;">
                <tr> 
                    <td>Nama</td><td>:</td><td>Iqfal Fazrial Pramudya</td>
                </tr>
                <tr>
                    <td>NPM</td><td>:</td><td>1906353920</td>
                </tr>
                <tr>
                    <td>Angkatan</td><td>:</td><td>2019</td>
                </tr>
                <tr>
                    <td>Fakultas</td><td>:</td><td>Ilmu Komputer</td>
                </tr>
                <tr>
                    <td>Hobi</td><td>:</td><td>Olahraga</td>
                </tr>
                <tr>
                    <td>Riwayat Pendidikan</td><td>:</td><td>SDN Karadenan (2006 - 2012)</td> 
                </tr>
                <tr>
                    <td></td><td></td><td>SMPN 19 Bogor (2012-2015)</td>
                </tr>
                <tr>
                    <td></td><td></td><td>SMAN 2 Bogor (2015-2018)</td>
                </tr>
            </table>
        </div>
        </div>
        <div class= "deskripsi">
        <p> kenalin nama gua Iqfal, seperti yang sudah dilihat pada biodata di atas gua kuliah di Fasilkom UI angkatan maung, gua tinggal di bogor dan 
            gua kuliah pulang pergi pake KRL. Hobi gua olahraga, tapi karena virus yang tiba-tiba dateng ini gua jadi jarang banget olahraga karena 
            gua biasanya olahraga futsal atau jogging yang dimana harus dilakukan di luar ruangan. Untuk kegiatan yang gua lakuin sekarang yaa paling cuma kuliah online, 
            rapat COMPFEST atau BEM Depor, kalau ga yaa main game. Yaudss lah yaa segini aja deskripsi singkat diri gua buat website pertama yang gua buat. Terima kasih
        </p>
    </div>    
</body>
<footer>
    <div class="container">
        <a href="https://www.instagram.com/iqfalfazrial/" target="_blank" id="linkig" ><img src="{% static 'logoig.png' %}" id = "ig"></a>
        <a href="https://www.linkedin.com/in/iqfal-fazrial-pramudya-b53696196/" target="_blank" id="linklink"><img src="{% static 'logolinkedin.png' %}" id="linkedin"> </a>
    </div>
</footer>
{% endblock %}