<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Averia Libre' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LafqiStory</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user.get_username}}</a></li>
      <li><a href="{%url 'story9:logout'%}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
{% else %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LafqiStory</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{%url 'story9:home'%}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'story9:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
      <li><a href="{%url 'story9:login'%}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
    </ul>
  </div>
</nav>
{% endif %}
{% if user.is_authenticated %}
<h3 style="font-size: 50px; margin-top:10rem; text-align: center;"> Selamat datang,  {{user.get_username}}.</h3>
{% else %}
<h3 style="font-size: 30px; margin-top:10rem; text-align: center;"> Anda belum login, silahkan login terlebih dahulu.</h3>
{% endif %}
</body>
</html>