<!doctype html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Averia Libre' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LafqiStory</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{%url 'story9:home'%}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{%url 'story9:register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{%url 'story9:login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</head>
<body>
<div class="container" style="width:20%;background-color: #f1f1f1; font-family: Averia Libre; margin-top: 6rem;">
<div class="row justify-content-center">
<div>
<form method="POST" onsubmit="myFunction()" class="post-form; text-center" style="font-size: 20px;" enctype="multipart/form-data">
                  {%for i in form%}
                  {%csrf_token%}
                     <div style="font-size: 20px">{{i.label_tag}}</div>
                      <div id="form-register">{{i}}</div>
                    {%endfor%}
                      <div class="text-center">
                        <br>
                        <button class="btn btn-primary" role="button" type="submit">sign up</button>
                      </div>
                  
                    </form>
                  </div>
</div>
</div>
</body>
</html>